footer{
    
    text-align: center;
    margin: 0 auto;
width: 480px;
height: 300px;
position: relative;

background: #2F303A;  
}
.footer_content{
    margin: 0;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.logo_footer{
    color: #fff;
    margin-bottom: 20px;
}

.definite_contacts{
    margin-top: 30px;
}

.locaion{
   margin-bottom: 5px;
width: 232px;
height: 21px;


font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;
}

.email_span a b{
    
width: 232px;
height: 21px;


font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

text-align: center;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

}
.email{
    margin-bottom: 5px;
}

.phone_span a b{
    width: 232px;
height: 21px;


font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

text-align: center;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}
